<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>main.py</string>
			<key>preferredName</key>
			<string>DrawBot</string>
			<key>shortKey</key>
			<array>
				<integer>1179648</integer>
				<string>D</string>
			</array>
		</dict>
		<dict>
			<key>path</key>
			<string>settings.py</string>
			<key>preferredName</key>
			<string>Settings</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>repository</key>
		<string>typemytype/drawBotRoboFontExtension</string>
		<key>summary</key>
		<string>DrawBot is a powerfull 2D graphics scripting tool.</string>
	</dict>
	<key>developer</key>
	<string>DrawBot</string>
	<key>developerURL</key>
	<string>http://drawbot.com</string>
	<key>extensionPath</key>
	<string>DrawBot.roboFontExt</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>installDrawbot.py</string>
	<key>name</key>
	<string>DrawBot</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>8</string>
	<key>timeStamp</key>
	<real>1417707288.332471</real>
	<key>version</key>
	<string>3.130.3</string>
</dict>
</plist>
